page-home {
  //
  *{
    // border:1px solid black;
  }
  //
  
  ion-content {
    background-image: url('../../assets/imgs/user/background6.png');
    width: 100%;
    background-size: cover;
    
  }

  #user-image {
    display: block;
    border-radius: 50%;
    width: auto;
    height: 10em;
    margin: 0 auto 0;
    box-shadow: 0px 11px 20px -3px rgba(66, 63, 68, 0.75);
  }
  #user-info {
    position: absolute;
    top: -70%;
    width: 100%;
    z-index: 2;
    text-align: center;
    // color: white;
  }
  

  #user-name {
    margin-top: 10%;
  }

  #user-bg {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: -16px;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }

  #user-content {
    position: relative;
    margin-top: 75%;
    padding-top: 76%;
    text-align: center;
    
  }

  #user-description{
    position: relative;
    top: -20%;
    color: rgb(66, 65, 65);
    padding: 0;
  }
  hr {
    border: 0;
    height: 1px;
    background: #444;
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, rgb(188, 198, 214) 50%, hsla(0, 0%, 0%, 0) 100%);
  }
}

