<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Experience</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item-divider color="light">
    <h2>Professional Experience</h2>
  </ion-item-divider>

  <ion-card *ngFor="let exp of exps">
    <ion-item>

      <ion-title item-start>
        <img [src]="exp.image">
      </ion-title>

      <p>{{exp.name}}</p>
      <p>{{exp.position}}</p>
    </ion-item>

    <ion-row>
      <span id="custom-spacer"></span>
      <button ion-button clear small (click)="experienceDetails(exp)">
        More ...
      </button>
    </ion-row>
  </ion-card>


  <!-- University Experience -->
  <ion-item-divider color="light">
    <h2>University Experience</h2>
  </ion-item-divider>
  <ion-card *ngFor="let exp of exps">
    <ion-item>

      <ion-title item-start>
        <img [src]="exp.image">
      </ion-title>

      <p>{{exp.name}}</p>
      <p>{{exp.position}}</p>
    </ion-item>

    <ion-row>
      <span id="custom-spacer"></span>
      <button ion-button clear small (click)="experienceDetails(exp)">
        More ...
      </button>
    </ion-row>
  </ion-card>

</ion-content>